In [0]:
import pandas as pd
import numpy as np

In [0]:
movies_df = pd.read_csv('/content/Recommendation_complete_tutorial/KNN Movie Recommendation/movies.csv',usecols=['movieId','title'],dtype={'movieId': 'int32', 'title': 'str'})
rating_df=pd.read_csv('/content/Recommendation_complete_tutorial/KNN Movie Recommendation/ratings.csv',usecols=['userId', 'movieId', 'rating'],dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [5]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [6]:
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [0]:
df=pd.merge(rating_df,movies_df,on='movieId')

In [10]:
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [0]:
combine_movie_rating = df.dropna(axis = 0, subset = ['title'])

In [0]:
movie_ratingCount = (combine_movie_rating.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']]
    )

In [13]:
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [14]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [0]:
popularity_threshold = 70

In [16]:
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [17]:
rating_popular_movie.shape

(30209, 5)

In [18]:
movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId                                 1    2    3    4    ...  607  608  609  610
title                                                      ...
2001: A Space Odyssey (1968)           0.0  0.0  0.0  0.0  ...  0.0  3.0  0.0  4.5
300 (2007)                             0.0  0.0  0.0  0.0  ...  0.0  5.0  0.0  4.0
40-Year-Old Virgin, The (2005)         0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  4.5
Ace Ventura: Pet Detective (1994)      0.0  0.0  0.0  0.0  ...  0.0  3.5  0.0  3.0
Ace Ventura: When Nature Calls (1995)  0.0  0.0  0.0  0.0  ...  0.0  2.0  0.0  0.0

[5 rows x 602 columns]

In [19]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [22]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

84

In [23]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Fargo (1996):

1: Reservoir Dogs (1992), with distance of 0.38857603073120117:
2: Pulp Fiction (1994), with distance of 0.38965141773223877:
3: Goodfellas (1990), with distance of 0.39011263847351074:
4: Apocalypse Now (1979), with distance of 0.4044567346572876:
5: Monty Python and the Holy Grail (1975), with distance of 0.4079362750053406: